*{
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body{
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(-45deg, #61faff 0%, #c1b1f7 100%);
}

.sidebar{
  position: fixed;
  width: 240px;
  left: -240px;
  height: 100%;
  background-color: #fff;
  transition: all .5s ease;
  border-right: 0.5px solid #61faff;
  border-top: 0.5px solid #61faff;

}

.sidebar header{
  font-size: 28px;
  color: #353535;
  text-decoration: underline;
  line-height: 70px;
  text-align: center;
  background-color: #fff;
  user-select: none;
  font-family: 'Lato', sans-serif;
}
.sidebar a{
  display: block;
  height: 65px;
  width: 100%;
  color: #353535;
  line-height: 65px;
  padding-left: 30px;
  box-sizing: border-box;
  border-left: 5px solid transparent;
  font-family: 'Lato', sans-serif;
  transition: all .5s ease;
}
a.active,a:hover{
  border-left: 5px solid var(--accent-color);
  color: #fff;
   background: linear-gradient(to left, var(--accent-color), var(--gradient-color));
}
.sidebar a i{
  font-size: 23px;
  margin-right: 16px;
}
.sidebar a span{
  letter-spacing: 1px;
  text-transform: uppercase;
}

#check{
  display: none;
}

label #btn,label #cancel{
  position: absolute;
  left: 5px;
  cursor: pointer;
  color: #000;
  border-radius: 5px;
  margin: 15px 30px;
  font-size: 29px;
  background-color: #fff;
  height: 45px;
  width: 45px;
  text-align: center;
  text-shadow: 2px 2px 3px rgba(255,255,255,0.5);
  line-height: 45px;
  transition: all .5s ease;
}
label #cancel{
  opacity: 0;
  visibility: hidden;
}
#check:checked ~ .sidebar{
  left: 0;
}
#check:checked ~ label #btn{
  margin-left: 245px;
  opacity: 0;
  visibility: hidden;
}
#check:checked ~ label #cancel{
  margin-left: 245px;
  opacity: 1;
  visibility: visible;
}

.sidebar > a.active,.sidebar > a:hover {
  --accent-color: rgb(97, 250, 255);
  --gradient-color: #c1b1f7;
  text-decoration: underline;
}

.frame {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  text-align: center;
}

.white-box {
    width: 50%;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}

.progress{
  margin: 50px 20px;
  width: 100%;
}

.aa{
  display: flex;
}

.bb{
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cc{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.medal{
  width: 80px;
  height: 80px;
}

.title{
  color:#3b3b3b;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.top{
  color: #3b3b3b;
  text-decoration: bold;
  font-size: 40px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
