*{
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body{
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(-45deg, rgb(97, 250, 255) 0%, #c1b1f7 100%);
}

.sidebar{
  position: fixed;
  width: 240px;
  left: -240px;
  height: 100%;
  background-color: #fff;
  transition: all .5s ease;
}

.sidebar header{
  font-size: 28px;
  color: #353535;
  text-decoration: underline;
  line-height: 70px;
  text-align: center;
  background-color: #fff;
  user-select: none;
  font-family: 'Lato', sans-serif;
}
.sidebar a{
  display: block;
  height: 65px;
  width: 100%;
  color: #353535;
  line-height: 65px;
  padding-left: 30px;
  box-sizing: border-box;
  border-left: 5px solid transparent;
  font-family: 'Lato', sans-serif;
  transition: all .5s ease;
}
a.active,a:hover{
  border-left: 5px solid var(--accent-color);
  color: #fff;
   background: linear-gradient(to left, var(--accent-color), var(--gradient-color));
}
.sidebar a i{
  font-size: 23px;
  margin-right: 16px;
}
.sidebar a span{
  letter-spacing: 1px;
  text-transform: uppercase;
}

#check{
  display: none;
}

label #btn,label #cancel{
  position: absolute;
  left: 5px;
  cursor: pointer;
  color: #000;
  border-radius: 5px;
  margin: 15px 30px;
  font-size: 29px;
  background-color: #fff;
  height: 45px;
  width: 45px;
  text-align: center;
  text-shadow: 2px 2px 3px rgba(255,255,255,0.5);
  line-height: 45px;
  transition: all .5s ease;
}
label #cancel{
  opacity: 0;
  visibility: hidden;
}
#check:checked ~ .sidebar{
  left: 0;
}
#check:checked ~ label #btn{
  margin-left: 245px;
  opacity: 0;
  visibility: hidden;
}
#check:checked ~ label #cancel{
  margin-left: 245px;
  opacity: 1;
  visibility: visible;
}

.sidebar > a.active,.sidebar > a:hover {
  --accent-color: rgb(97, 250, 255);
  --gradient-color: #c1b1f7;
  text-decoration: underline;
}

.frame {
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  overflow: hidden;
}

.profile-card {
  position: relative;
  width: 100%;
  margin: 20px;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profile-image {
  position:relative;
  width: 100%;
  height: 20vh;
  object-fit: fill;
}

.profile-info {
    margin: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-info h2 {
    color: #333;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.profile-info p {
    margin: 10px 0;
    color: #666;
}

.sbd{
  display: flex;
  justify-content: space-evenly; /* Adjust as needed */
}

.sbd-image{
  width: 10vh;
  height: 10vh;
  margin: 10px;
}

.sbd-value{
  display: flex;
  font-family: 'Lato', sans-serif;
  font-size: 4vh;
  align-items: center;
  margin: 10px;
  color: #353535;
}

h3 {
  color: #333;
  font-size: 15px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.white-box {
    width: 5%;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    margin: 20px;
}

.progress{
  margin: 50px 20px;
  width: 100%;
}

.aa{
  display: flex;
  justify-content: center;
  align-items: center;
}

.bb{
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cc{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.medal{
  width: 80px;
  height: 80px;
}

.title{
  color:#3b3b3b;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.top{
  color: #3b3b3b;
  text-decoration: bold;
  font-size: 40px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
  background-color: transparent;
  padding: 10px;
  color: white;
  display: flex;
  align-items: center;
}

.logo {
  font-size: 35px;
  margin-right: 10px;
}

.home-button {
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.group-container {
    margin-bottom: 20px;
    max-height: 400px; /* Adjust this value according to your preference */
    overflow-y: auto;
    border: 1px solid #ddd;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
    width: 300px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.group-container:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.group-name {
    font-size: 20px;
    text-decoration: underline;
}

.group-bio {
    font-size: 16px;
    color: #666;
}

.group-members {
    list-style-type: none;
    padding: 0;
}

.group-members li {
    font-size: 14px;
    color: #444;
}

.group-box{
    margin-bottom: 20px;
    max-height: 400px; /* Adjust this value according to your preference */
    overflow-y: auto;
    box-shadow: 0px 0px 5px #3b3b3b;
}

h2{
  text-decoration: underline;
  margin: 10px;
}

.member{
  font-size: 12px;
  text-decoration: bold;
  text-decoration: underline;
}

.members{
  font-size: 10px;
}