<head>
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/css/profilestyle.css">
    <link rel="stylesheet" type="text/css" href="../static/css/search.css">
    <link rel="stylesheet" type="text/css" href="../static/css/groupstyle.css">

    <script src="../static/js/search.js"></script>
    <script src="../static/js/profile.js"></script>
    <script src="../static/js/hideelements.js"></script>
</head>

<body>
  <header>
    <a href="../../home/{{loggeduser}}" class="home-button">
        <i class="fas fa-home logo"></i>
    </a>
  </header>
  <div class="frame">
    <div class="white-box">
      <div class="aa">
        <div class="bb"> 
          <img class="medal" src="../static/images/{{level}}" alt="Description of the image">
          <div class="title">Overall</div>
        </div>
      </div>
      <div class="aa">
        <div class="bb"> 
          <img class="medal" src="../static/images/{{squat}}" alt="Description of the image">
          <div class="title">Squat</div>
        </div>
      </div>
      <div class="aa">
        <div class="bb"> 
          <img class="medal" src="../static/images/{{bench}}" alt="Description of the image">
          <div class="title">Bench</div>
        </div>
      </div>
      <div class="aa">
        <div class="bb"> 
          <img class="medal" src="../static/images/{{deadlift}}" alt="Description of the image">
          <div class="title">Deadlift</div>
        </div>
      </div>
    </div>
    <div class="profile-container">
      <div class="profile-card" id="profileCard">
        <img class="profile-image" src="../static/uploads/{{ user.profile_image }}" alt="Profile Image">
        </img>
        <div class="profile-info" id="profileInfo">
          <h2>@{{ username }}</h2>     
          <h3>{{user.firstName}} {{user.secondName}}</h3>
          <h3>Weight: {{user.weight}}kg Height: {{user.height}}cm</h3>
          <!-- Other user information -->
          <div class="sbd">
            <img class="sbd-image" src="../static/images/s.png">
            <div class="sbd-value">{{user.squat}}kg</div>
          </div>
          <div class="sbd">
            <img class="sbd-image" src="../static/images/b.png">
            <div class="sbd-value">{{user.bench}}kg</div>
          </div>
          <div class="sbd">
            <img class="sbd-image" src="../static/images/d.png">
            <div class="sbd-value">{{user.deadlift}}kg</div>
          </div>
        </div>
      </div>
    </div>
    <div class="content-box">
      <div class="group-box">
        <div class="stay">
            <h2>{{user.username}}'s Groups</h2>
            {% if groups %}
                {% for group in groups %}
                    <div class="group-container">
                        <div class="group-name">{{ group.groupName }}</div>
                        <div class="group-bio">{{ group.groupBio }}</div>
                        <ul class="group-members">
                            <div class="member"><u>Members:</u></div>
                            {% for user in group.users %}
                                <div class="members">-{{ user.username }}</div>
                            {% endfor %}
                        </ul>
                        <form method="post" action="{{ url_for('leave_group', groupName=group.groupName, username=user.username) }}">
                            <button class="leave" type="submit">Leave Group</button>
                        </form>
                    </div>
                {% endfor %}
            {% else %}
                <p>No groups available.</p>
            {% endif %}
        </div>
      </div>
    </div>
  </div>
</body>